*.a
*.o
*.so
*.bundle
*.dll.a
*.gem
*.log
*.rdoc.cpp
*~
wget-log*

*/doc
*/tmp

vendor/
.doc
.yardoc
.DS_Store
Makefile
depend.mf
Gemfile.lock
GPATH
GRTAGS
GTAGS
.vscode

rucy/include/rucy/extension.h
rucy/include/rucy/function.h
rucy/include/rucy/module.h
rucy/include/rucy/value.h
rucy/src/function.cpp
rucy/src/module.cpp
rucy/src/value.cpp

**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
